body {
    height: 100vh;
    display: grid;
    grid-template-areas:
        "header header"
        "nav main";
    grid-template-rows: auto 1fr;
    grid-template-columns: 1fr 7fr;
    margin: 0;
}

header {
    grid-area: header;
    position: fixed;
    z-index: 3;
    justify-content: space-between;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2.5rem 0.5rem 0rem;
    width: 100%;
}

nav {
    grid-area: nav;
    position: fixed;
    margin-top: 4rem;
    z-index: 2;
    background-color: #f9f9f9;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: calc(100vh - 4.75rem);
    padding-left: 2rem;
}

main {
    grid-area: main;
    margin: 4rem 0 0 1rem;
    z-index: 1;/* 4.75rem é a altura do header e nav */
    overflow-y: auto;
}

#logo {
    color: var(--Black, #111);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding: 0.5rem 2.25rem;
    align-items: flex-start;
    gap: 90px;
}

.options {
    color: #5A5A5F;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.75rem;
    letter-spacing: 0.016rem;
    text-decoration: none;
    padding-right: 1rem;
}

a {
    text-decoration: none;
    color: #000000;
}

#developmentName {
    color: var(--Black, #111);
    font-size: 1rem;
    font-style: normal;
    font-weight: 600;
    line-height: 175%;
    padding-right: 2.25rem;
}

#ocupation {
    color: rgba(95, 95, 95, 0.60);
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 500;
    line-height: 175%;
    padding-right: 2.25rem;
}

#ctaBodyOneDesktop {
    display: block; 
    padding-top: 0.1rem;
    padding-right: 2.25rem;
    padding-botton: 0.1rem;
}

#ctaLinkOneDesktop {
    padding: 1rem 1.5rem;
}

#ctaTextOneDesktop {
    color: var(--FFFFFF-Bg-1, #FFF);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    gap: 1rem;
}

#ctaBodyOneMobile {
    display: none;
}

.navChild {
    display: flex;
    align-items: center;
    padding-bottom: 1rem;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 1024px) {
    body {
        display: inline-block;
    }

    header {
        background-color: #f9f9f9;
        align-items: center;
        padding: 0.5rem 2.5rem 0.5rem 0rem;
    }

    #logo {0
        font-size: 1rem;
    }

    .options, #developmentName, #ocupation, #ctaBodyOneDesktop, #ctaLinkOneDesktop, #ctaTextOneDesktop, nav {
        display: none;
    }

    #ctaBodyOneMobile {
        display: flex; 
        padding-right: 2.25rem;
    }

    #ctaLinkOneMobile {
        padding: 1rem 1.5rem;
    }

    #ctaTextOneMobile {
        color: var(--FFFFFF-Bg-1, #FFF);
        font-size: 1rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        gap: 1rem;
    }

    main {
        margin: 4rem 1rem 0 1rem;
        max-height: 100vh
        overflow-y: auto;
    }
}
